<div class="contain-form">
  <div *ngIf="!players.player1.urlImage || !players.player2.urlImage" class="form">
    <label *ngIf="!players.player1.urlImage" for="player1">Primeiro jogador:
      <input type="text" id="player1" placeholder="Jogador 1" [(ngModel)]="players.player1.name">
      <span class="invalid-message"></span>
    </label>

    <label *ngIf="players.player1.urlImage && !players.player2.urlImage" for="player2">Segundo jogador:
      <input type="text" id="player2" placeholder="Jogador 2" [(ngModel)]="players.player2.name">
      <span class="invalid-message"></span>
    </label>

    <button class="button" (click)="handleJogadores(!players.player1.urlImage ? players.player1.name : players.player2.name)">Enviar</button>
  </div>

  <app-jogo [players]="players"></app-jogo>

</div>
